# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=XXXXXXXX

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=XXXXXXXX

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL=XXXXXXXX
KV_REST_API_URL=XXXXXXXX
KV_REST_API_TOKEN=XXXXXXXX
KV_REST_API_READ_ONLY_TOKEN=XXXXXXXX


AWS_ACCESS_KEY_ID=XXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXX
AWS_DEFAULT_REGION=XXXXXXXX
AWS_BUCKET=XXXXXXXX


ENCRYPTION_KEY=XXXXXXXXXX

NEXT_PUBLIC_PADDLE_MODE=XXXXXXXXXX
NEXT_PUBLIC_PADDLE_URL=XXXXXXXXXX
NEXT_PUBLIC_PADDLE_TOKEN=XXXXXXXXXX
PADDLE_API_KEY=XXXXXXXXXX

CRISP_WEBSITE_ID=XXXXXXXXXX
POSTHOG_API_KEY=XXXXXXXXXX

BREVO_API_URL=XXXXXXXXXX
BREVO_API_KEY=XXXXXXXXXX